name: build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup CMake build
        run: |
          cmake -S . -B build -DPOLYMARKET_CLIENT_BUILD_EXAMPLES=ON

      - name: Build
        run: |
          cmake --build build --parallel
